<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteRule ^annotations/?$ annotations.php
	RewriteRule ^annotations/([0-9]+)$ annotations.php?id=$1
	RewriteRule ^annotations/([0-9]+)/$ annotations.php?id=$1

</IfModule>